.calculator-container {
  width: 84rem;
  background-color: hsl(0, 0%, 100%);
  padding: 5.2rem 10rem 4rem 5.4rem;
  /* border */
  border-radius: 2rem;
  border-bottom-right-radius: 20rem;
}
.form {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  position: relative;
  display: flex;
  flex-direction: column;
}
.date:first-child {
  margin-right: -2.1rem;
}
.date:nth-child(2) {
  margin-right: -2.1rem;
}
.label {
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  font-weight: 800;
  color: hsl(0, 1%, 44%);
  margin-top: 0.4rem;
}
.label.error {
  color: hsl(0, 100%, 67%);
}

.input {
  width: 75%;
  padding: 1.8rem 3.2rem 1.6rem 2.6rem;
  margin-top: 0.7rem;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 1rem;
  cursor: pointer;
  caret-color: hsl(259, 100%, 65%);
}
.error-msg {
  position: absolute;
  top: 100%;
  margin-top: 0.9rem;
  font-size: 1.2rem;
  font-style: italic;
  color: hsl(0, 100%, 67%);
}
.input.error {
  outline: 1px solid hsl(0, 100%, 67%);
}

.input:hover,
.input:active {
  outline: 1px solid hsl(259, 100%, 65%);
}

.input::placeholder {
  font-size: 3rem;
  font-weight: 800;
}
.input[type="number"] {
  font-size: 3.2rem;
  font-weight: 800;
}
.line {
  position: relative;
  width: 100%;
  border-top: 2px solid hsl(0, 0%, 94%);
  margin-top: 4.6rem;
  margin-bottom: 2.9rem;
}
.btn {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-55%, -50%);
  border: none;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  padding: 2.5rem;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: hsl(0, 0%, 8%);
}
.results {
  display: flex;
  flex-direction: column;
}

.text-result {
  font-size: 10.1rem;
  font-weight: 800;
  font-style: italic;
}
.text-result:not(:first-child) {
  margin-top: -3.8rem;
}
.result {
  color: hsl(259, 100%, 65%);
  margin-right: 1rem;
}
